
h1 {
    color: #0000ff;
}


.fontSizeAndFamily{
    font-size: 16px;
    font-family: Arial;
    color: cornflowerblue;
}

.myHeaderBlue {
    color: blue;
}

.myHeaderRed {
    color: red;
}

#myHeader {
    font-style: italic;
    color: green;
}

#myHeader2 {
    text-decoration: underline;
}